%nav.navbar.navbar-default.sidebar{ role:'navigation' }
  %ul.nav-navbar-nav
    %li= link_to 'Bla bla', '#'
    %li= link_to 'Bla bla', '#'
    %li= link_to 'Bla bla', '#'
    %li= link_to 'Bla bla', '#'
