%h1 Alle Rennen

%table.table
  %colgroup
    %col
    %col{ width:80 }
    %col{ width:80 }
  %thead
    %tr
      %th Name
      %th
      %th

  %tbody
    - @races.each do |race|
      %tr
        %td= link_to race.name, race
        %td= link_to 'Edit', edit_race_path(race)
        %td= link_to 'Destroy', race, :method => :delete, :data => { :confirm => 'Are you sure?' }

%p
  = link_to 'Neues Rennen', new_race_path, class:'btn btn-primary'
