- content_for :subnav do
  %li.pull-right.hidden-xs.hidden-sm
    %form.form-inline{ style:'margin-top: 6px'}
      .form-group
        %label.control-label{ for:'search' } Filter
        %input.form-control.input-sm#search{ type:'search', placeholder:'Teamname', autocomplete:'off' }

= render partial:'header'

.content
  %ul.block-grid-xs-2.block-grid-sm-4.block-grid-md-6.block-grid-lg-8
    - stats = @race.to_stats.group_by_team
    - @race.teams.includes(:attendances, :events).each do |team|
      %li.team{ data:{ name:team.name.downcase } }
        = render partial:'teams/team', locals:{ race:@race, team:team, stats:stats[team.id] }

- content_for :bottom do
  :coffee
    $ ->
      $('#search').keyup ->
        if $(this).val() == ''
          $('.team').show()
        else
          $('.team').not('[data-name*=' + $(this).val() + ']').hide()

