- content_for :subnav do
  %li.pull-right.hidden-xs.hidden-sm
    %form.form-inline{ style:'margin-top: 6px'}
      .form-group
        %label.control-label{ for:'search' } Filter
        %input.form-control.input-sm#search{ type:'search', placeholder:'Teamname', autocomplete:'off' }
  %li.pull-right
    = link_to public_overview_race_path(@race), target:'_blank' do
      = fa_icon 'television'
      Externe Ansicht

= render partial:'header'

.content
  %ul.block-grid-xs-2.block-grid-sm-4.block-grid-md-6.block-grid-lg-8
    - stats = @race.to_stats.group_by_team
    - @race.teams.includes(:attendances).each do |team|
      %li.team{ data:{ name:team.name.downcase } }
        = render partial:'teams/team', locals:{ race:@race, team:team, stats:stats[team.id] }

- content_for :head do
  %meta{ 'http-equiv' => 'refresh', content:30 }

- content_for :bottom do
  :coffee
    $ ->
      $(document).on 'timer:error', (evt, diff) ->
        $(evt.target).toggleClass 'error', true
        $(evt.target).closest('.panel').removeClass('panel-secondary panel-info').addClass('panel-danger')
      $(document).on 'timer:warning', (evt, diff) ->
        $(evt.target).toggleClass 'warning', true
      $('#search').keyup ->
        $('.team').show()
        if $(this).val() != ''
          $('.team').not('[data-name*="' + $(this).val() + '"]').hide()
