.container-fluid
  %ul.footer-links.pull-right
    %li= link_to 'API', '/docs/api/'
    %li
      Made with
      = link_to fa_icon('heart'), 'https://software-berater.net', target:'_blank'
      in Siegburg.
  %ul.footer-links
    %li
      %strong TeamControl
      &copy; 2016 Die Software Berater
