.container-fluid
  %ul.footer-links.text-right
    %li= link_to 'API', '/docs/api/'
    %li
      Made with
      = link_to fa_icon('heart'), 'https://software-berater.net', target:'_blank'
      in Siegburg.
