.container-fluid
  %ul.footer-links.pull-right
    %li= link_to 'API', '/docs/api/' if user_signed_in?
    %li
  %ul.footer-links
    %li
      %strong TeamControl
      &copy; #{Time.now.year}
      %span.text-muted= Teamcontrol::Application.version
